<h1>ID: {{pnm.id}}</h1>
<p>How to read this: If a -1 is present then there was no score to record.</p>
  <ul>Name: {{pnm.firstName}} {{pnm.lastName}}</ul>
  <ul>Year: {{pnm.year}}</ul>
  <ul>Facebook Score: {{pnm.facebookScore}}</ul>
  <ul>Preselect Score: {{pnm.preselectScore}}</ul>
  <ul>Set 1: {{pnm.setOneScore}}</ul>
  <ul>Set 2: {{pnm.setTwoScore}}</ul>
  <ul>Set 3: {{pnm.setThreeScore}}</ul>
  <ul>Set 4: {{pnm.setFourScore}}</ul>
  <ul>Set Released: {{pnm.setReleased}}</ul>
  <ul>Income: {{pnm.income}}</ul>

